:host ::ng-deep .p-card {
  border-radius: 10px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #f8f9fa;
  font-weight: 600;
}

:host ::ng-deep .p-tag {
  font-weight: bold;
  font-size: 0.875rem;
}
