.container {
  max-width: 1000px;
  margin: 0 auto;
}

.text-muted {
  color: #6c757d;
  font-size: 0.875rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.25rem;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
